@page "/"
@inject IPostServices PostServices;

<PageTitle>Index</PageTitle>

<h1>Hello,Amazing world!</h1>

Welcome to your new app.
<a type="button" class="btn btn-success" href="/new">New Post</a>
<button type="button" class="btn btn-success" @onclick="ShowingDeleteDialog">Dialog Test</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">标题</th>
            <th scope="col">内容</th>
            <th scope="col">发布时间</th>
            <th scope="col">更新时间</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    @if (rsp != null)
    {
        <tbody>
            @foreach (var item in rsp.OrderByDescending(p => p.PublishTime))
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Title</td>
                    <td>@item.Content</td>
                    <td>@item.PublishTime</td>
                    <td>@item.UpdateTime</td>
                    <td>
                        <a href="@($" /edit/{item.Id}")" class="esh-table-link">Edit</a>|
                        <a href="#">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    }
    else
    {
        <p>Empty Resual.</p>
    }
</table>

@if (showingDeleteDialog)
{
    <DeleteDialog OnCancel="CancelDeleteDialog" OnConfirm="ConfirmDeleteDialog" />
}


@code {
    List<Post>? rsp;
    bool showingDeleteDialog;
    protected override void OnParametersSet()
    {
        rsp = PostServices.PostsList();
    }
    //protected override async Task OnInitializedAsync()
    //{
    //    rsp = await PostServices.PostsList();
    //}
    void ShowingDeleteDialog()
    {
        showingDeleteDialog = true;
        Console.WriteLine($"Clicked {nameof(ShowingDeleteDialog)} showingDeleteDialog is {showingDeleteDialog}");
    }
    void ConfirmDeleteDialog()
    {

    }
    void CancelDeleteDialog()
    {
        showingDeleteDialog = false;
    }


}